<div class="flex flex-col justify-center items-center min-h-screen overflow-hidden
			bg-img">
	<div class="flex flex-col justify-center items-center w-full bg-black/50 min-h-screen">
		<h1 class="text-7xl text-white z-[2] mb-5 mt-7">Our team</h1>
		<div class="w-4/5 flex flex-row flex-wrap justify-center items-center">
			<div class="text-center m-7">
				<div class="romanN"
					data-tilt="" data-tilt-glare="true" data-tilt-max-glare="0.5" data-tilt-speed="400"
					data-tilt-scale="1.08" data-tilt-max="40" data-tilt-perspective="500" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
					<div class="flex flex-col justify-center items-center">
						<div class="flex justify-center w-28 h-28 rounded-full overflow-hidden m-5">
							<img class="object-cover" src="../../assets/about-us-page/Group 235.svg" alt="">
						</div>
					</div>
					<div class="about-name">
						<span>Roman N</span>
						<span>Frontend</span>
					</div>  
				</div>
			</div>
			<div class="text-center m-7">
				<div class="sofia"
					data-tilt="" data-tilt-glare="true" data-tilt-max-glare="0.5" data-tilt-speed="400"
					data-tilt-scale="1.08" data-tilt-max="40" data-tilt-perspective="500" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
					<div class="flex flex-col justify-center items-center">
						<div class="flex justify-center w-28 h-28 rounded-full overflow-hidden m-5">
							<img class="object-cover" src="../../assets/about-us-page/Group 233.svg" alt="">
						</div>
					</div>
					<div class="about-name">
						<span>Sofia</span>
						<span>Backend</span>
					</div>
				</div>
			</div>
			<div class="text-center m-7">
				<div class="marika"
					data-tilt="" data-tilt-glare="true" data-tilt-max-glare="0.5" data-tilt-speed="400"
					data-tilt-scale="1.08" data-tilt-max="40" data-tilt-perspective="500" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
					<div class="flex flex-col justify-center items-center">
						<div class="flex justify-center w-28 h-28 rounded-full overflow-hidden m-5">
							<img class="object-cover" src="../../assets/about-us-page/Group 234.svg" alt="">
						</div>
					</div>
					<div class="about-name">
						<span>Marika</span>
						<span>Frontend</span>
						<span>Design</span>
					</div>
				</div>
			</div>
			<div class="text-center m-7">
				<div class="pavel"
					data-tilt="" data-tilt-glare="true" data-tilt-max-glare="0.5" data-tilt-speed="400"
					data-tilt-scale="1.08" data-tilt-max="40" data-tilt-perspective="500" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
					<div class="flex flex-col justify-center items-center">
						<div class="flex justify-center w-28 h-28 rounded-full overflow-hidden m-5">
							<img class="object-cover" src="../../assets/about-us-page/Group 232.svg" alt="">
						</div>
					</div>
					<div class="about-name">
						<span>Pavel</span>
						<span>Backend</span>
					</div>
				</div>
			</div>
			<div class="text-center m-7">
				<div class="romanP"
					data-tilt="" data-tilt-glare="true" data-tilt-max-glare="0.5" data-tilt-speed="400"
					data-tilt-scale="1.08" data-tilt-max="40" data-tilt-perspective="500" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
					<div class="flex flex-col justify-center items-center">
						<div class="flex justify-center w-28 h-28 rounded-full overflow-hidden m-5">
							<img class="object-cover" src="../../assets/about-us-page/image 40.svg" alt="">
						</div>
					</div>
					<div class="about-name">
						<span>Roman P</span>
						<span>Design</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>