<div cdkDropListGroup>
    <div class="flex flex-row flex-wrap justify-center">
        <div class="bg-gray-300 min-w-60 w-[25vw] max-w-72 min-h-60 h-[25vw] max-h-72 rounded-xl shadow-box m-5"
            *ngFor="let box of boxes"        
            cdkDropList
            [cdkDropListData]="box.data"
            (cdkDropListEntered)="enableBoxSelectingStyle($event)"
            (cdkDropListExited)="disableBoxSelectingStyle($event)"
            (cdkDropListDropped)="moveAnswerToBox($event)"
            >
            <h2 class="text-center font-semibold bg-white">{{ box.name }}</h2>

            <div class="w-min bg-gray-100 rounded-xl shadow-box p-4 m-2"
                *ngFor="let boxItem of box.data"
                cdkDrag
                [cdkDragDisabled]="isAnswered"
                [ngClass]="{
                    'correct': isAnswered && isCorrectAnswer(box.name, boxItem),
                    'wrong': isAnswered && !isCorrectAnswer(box.name, boxItem)
                }"
            >
                <img *ngFor="let image of getAnswerImages(boxItem)" 
                    src="../../assets/tests/{{ image }}.svg" alt=""
                >
                {{ getAnswerText(boxItem) }}
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center mt-5">
        <h2 class="text-center font-semibold">Не распределено</h2>

        <div class="flex flex-wrap w-full justify-center items-center"
            cdkDropList
            [cdkDropListData]="answers"
            (cdkDropListDropped)="moveAnswerToBox($event)"
        >
            <div class="w-min bg-gray-300 rounded-xl shadow-box p-4 m-2"
                *ngFor="let answer of answers"
                cdkDrag
                [cdkDragDisabled]="isAnswered"
            >
                <img *ngFor="let image of getAnswerImages(answer)" 
                    src="../../assets/tests/{{ image }}.svg" alt=""
                >
                {{ getAnswerText(answer) }}
            </div>
        </div>
    </div>

    <div class="flex flex-col w-full justify-center items-center">
        <button class="w-1/4 bg-white px-8 py-2 m-3 text-xl text-black
        border-2 rounded-full font-semibold border-black max-xl:min-w-[200px]"
            *ngIf="!isAnswered"
            (click)="replyQuestion()"
        >Ответить</button>
        <button class="w-1/4 bg-white px-8 py-2 m-3 text-xl text-black
        border-2 rounded-full font-semibold border-black max-xl:min-w-[200px]"
            *ngIf="isAnswered" 
            (click)="completeQuestion()"
        >Следующий</button>
    </div>
</div>