<div class="flex flex-col items-center 
            w-full my-16">
    <h1 class="text-3xl font-bold m-5 max-sm:text-2xl">Популярные тесты</h1>
    <div class="
        flex lg:flex-row justify-center max-lg:flex-col max-lg:items-center
        w-10/12 
    ">
        <ng-container 
            *ngFor="let popularTest of popularTests">
            <ng-container 
                [ngTemplateOutlet]="popularTestItem"
                [ngTemplateOutletContext]="{popularTest}"
            ></ng-container>
        </ng-container>
    </div>
</div>

<div class="flex flex-col items-center 
            w-full my-16">
    <h1 class="text-3xl font-bold m-5 max-sm:text-2xl">Тесты</h1>
    <div class="
        flex justify-center flex-col 
        w-10/12 
    ">
        <div *ngFor="let groupName of groups; index as groupIndex">
            <ng-container 
                [ngTemplateOutlet]="testsGroup" 
                [ngTemplateOutletContext]="{
                    groupName,
                    groupTests: getTestsByGroup(groupName),
                    align: groupIndex % 2 === 0 ? 'right' : 'left'
                }"
            />
        </div>
    </div>
</div>

<ng-template #popularTestItem let-popularTest="popularTest">
    <div class=" flex relative
                w-1/5 max-lg:w-3/5 pb-[18.5%] max-lg:pb-[80px] max-md:w-[69vw] 
                mx-6 max-lg:mx-0 max-lg:my-1 
                overflow-hidden rounded-xl
                cardPopularTest">
        <div class="flex absolute max-lg:items-center max-lg:justify-center
                    w-full h-full
                    border-white border-2 cover ">
            <div class="flex items-center justify-center absolute 
                        w-full h-full 
                        overflow-hidden">
                <img class="w-auto w-full h-full object-cover z-[1] popularTest-img"  src="../../assets/tests/{{popularTest.title}}.svg" alt="{{popularTest.title}}" />
            </div>
            <img class="absolute 
                        w-11 h-11 max-lg:w-9 max-lg:h-9
                        top-6 max-lg:top-5 right-6
                        taom-logo"  src="../../assets/main-page/taom-logo.svg" alt="Логотип ТАУ" />
            <div class="flex max-lg:items-center max-lg:text-center max-lg:relative 
                        max-lg:w-full max-lg:h-[50px]
                        popularTest-title">
                <p class="flex items-end max-lg:absolute
                        max-lg:text-2xl max-lg:text-center 2xl:text-3xl xl:text-2xl lg:text-base text-white font-semibold max-md:text-[3.5vw]
                        mb-7 ml-7 mr-7 max-lg:m-0 max-lg:left-[50%]
                        popularTest-title popularTest-title-left">
                    {{ popularTest.title }}
                </p>
            </div>
            <div class="flex absolute items-center justify-center max-lg:justify-start max-lg:items-end 
                        w-full h-full max-lg:ml-[5rem] 
                        cardPopularTest-back">  
                <div class="flex absolute items-center justify-center max-lg:justify-start max-lg:items-start overflow-auto 
                            max-lg:max-w-[85%] max-lg:max-h-[30%] w-full h-full max-[400px]:max-w-[75%] max-md:max-w-[80%]
                            max-[400px]:mb-[5vw] max-md:mb-[3.5vw] max-lg:mb-[2.8vw] cardPopularTest-back">
                    <p class="lg:max-w-[155px] 2xl:max-w-[222px]
                            max-lg:text-lg text-white max-lg:text-start text-center 2xl:text-lg lg:text-sm font-serif">
                        Hello! {{popularTest.title}} </p>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #testsGroup let-groupName="groupName" let-groupTests="groupTests" let-align="align">
    <div class="sm:grid max-sm:inline grid-cols-5 grid-rows-5 max-lg:grid-cols-4 max-lg:grid-rows-10 gap-5 max-2xl:gap-3 max-lg:gap-2 mb-[4rem] mx-auto
    w-full h-full min-h-[700px] max-xl:min-h-[500px] max-lg:min-h-[420px] max-lg:w-[60%] max-lg:min-w-[500px] max-sm:min-w-[280px] max-lg:min-h-[850px] max-sm:min-h-[250px] 
                groupTest-{{align}}">
        <div class="titleGroupTests">
            <h1 class="text-3xl max-xl:text-2xl font-bold mb-2 max-xl:mb-1 max-sm:text-2xl">{{ groupName }}</h1>
            <p class="text-lg max-xl:text-base">Описание туть >-<</p>
        </div>
        <ng-container *ngFor="let groupTest of groupTests; index as testIndex">
            <ng-container 
                *ngIf="!!groupTest; else emptyGroupItem"
                [ngTemplateOutlet]="filledGroupItem"
                [ngTemplateOutletContext]="{test: groupTest, index: testIndex}"
            />
        </ng-container>
        <div class="slider-effectCoverflow absolute invisible max-sm:relative max-sm:visible h-0 w-0">
            <swiper
                [effect]="'coverflow'"
                [grabCursor]="true"
                [centeredSlides]="true"
                [slidesPerView]="'auto'"
                [coverflowEffect]="{
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true
                }"
                [pagination]="true"
                [autoplay]="{
                    delay: 2000,
                    disableOnInteraction: false,
                    reverseDirection: true,
                }"
            >
                <ng-container *ngFor="let groupTest of groupTests; index as testIndex">
                    <ng-template swiperSlide>
                        <ng-container 
                            *ngIf="!!groupTest; else emptyGroupItem"
                            [ngTemplateOutlet]="filledGroupItem"
                            [ngTemplateOutletContext]="{test: groupTest, index: testIndex}"
                        />
                    </ng-template>
                </ng-container>
            </swiper>
        </div>
    </div>
</ng-template>



<ng-template #filledGroupItem let-test="test" let-index="index">
    <div class=" flex relative
                w-full h-full
                rounded-md
                index{{index}}">
        <div class="flex absolute overflow-hidden
                    w-full h-full rounded-md
                    back-gray">
            <div class="flex items-center justify-center absolute 
                            w-full h-full 
                            overflow-hidden">
                    <img class="w-auto w-full h-full object-cover z-[1] rounded-md test-img"  src="../../assets/tests/{{test.title}}.svg" alt="{{test.title}}" />
            </div>
            <div class="flex justify-end items-end test-title-items">
                <div class="flex flex-col justify-center items-center test-title">
                    <div class="flex flex-row h-8 justify-center items-center mb-2">
                        <div class="line"></div>
                        <img class=" w-7 h-7
                                    z-[2] mx-2
                                    taom-logo"  src="../../assets/main-page/taom-logo.svg" alt="Логотип ТАУ" />
                        <div class="line"></div>
                    </div>
                    <div class=" z-[2]">
                        <p class="font-serif text-white text-center text-2xl max-xl:text-xl ">{{test.title}}</p>
                    </div>
                </div>
            </div>
            <div class="flex absolute 
                    w-full h-full 
                    rounded-md
                    test-title-items-back">
                    <div class="flex overflow-auto h-full w-[60%] position-test-title">
                        <p class="text-white text-xl font-serif text-center max-xl:text-base
                        max-w-[222px] max-2xl:max-w-[180px] max-xl:max-w-[135px] max-h-full py-3 max-lg:max-w-[80%] max-lg:p-0 max-lg:my-auto
                        ">
                    Hello! {{test.title}} dsghfh fsdfhushsfhsfwf  uuwherwfgwer y gyuguhsfhsfwf  uuwherwfgwer y gyuguyguy  yguy gi iygi  gi gigi  </p>
                    </div>
        </div>
        </div>
    </div>
</ng-template>



<ng-template #emptyGroupItem>
</ng-template>