<div class="flex flex-col w-full items-center">
    <h1 class="text-3xl font-bold m-5">Популярные тесты</h1>
    <div class="
        flex flex-row justify-center
        w-10/12 
    ">
        <ng-container 
            *ngFor="let popularTest of popularTests">
            <ng-container 
                [ngTemplateOutlet]="popularTestItem"
                [ngTemplateOutletContext]="{popularTest}"
            ></ng-container>
        </ng-container>
    </div>
</div>

<div *ngFor="let groupName of groups; index as groupIndex">
    <ng-container 
        [ngTemplateOutlet]="testsGroup" 
        [ngTemplateOutletContext]="{
            groupName,
            groupTests: getTestsByGroup(groupName),
            align: groupIndex % 2 === 0 ? 'right' : 'left'
        }"
    />
</div>

<ng-template #popularTestItem let-popularTest="popularTest">
    <div class="h-0 w-1/5 pb-[18.5%] rounded-md relative mx-6 cardPopularTest">
        <div class="
            flex
            h-[14.5vw]
            border-white border-2
            cover
        ">
            <img class="taom-logo absolute top-7 right-6 w-11 h-11"  src="../../assets/main-page/taom-logo.svg" alt="Логотип ТАУ" />
            <p class="flex popularTest-title 2xl:text-3xl xl:text-2xl lg:text-lg text-white font-semibold mb-3 ml-3 items-end">
                {{ popularTest.title }}
            </p>
            <div class="cardPopularTest-back flex items-center justify-center">
                <p class="text-white">Hello!</p>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #testsGroup let-groupName="groupName" let-groupTests="groupTests" let-align="align">
    {{ groupName }}
    <ng-container *ngFor="let groupTest of groupTests; index as testIndex">
        <ng-container 
            *ngIf="!!groupTest; else emptyGroupItem"
            [ngTemplateOutlet]="filledGroupItem"
            [ngTemplateOutletContext]="{test: groupTest, index: testIndex}"
        />
    </ng-container>
</ng-template>

<ng-template #filledGroupItem let-test="test" let-index="index">
    {{ test.title }}
</ng-template>

<ng-template #emptyGroupItem>
</ng-template>