$transition-time: 2.3s;
.cardPopularTest{
    transition: ease all $transition-time;
	perspective: 1200px;
    &:hover{
		.cover{
			transform: rotateX(0deg) rotateY(-180deg);
			&:before{
				transform: translateZ(30px);
			}
			&:after{
				background-color: black;
			}
			.popularTest-title{
				transform: translateZ(100px);
			}
			.taom-logo{
				transform: translateZ(60px);
			}
			p{
				transform: translateZ(-60px) rotatey(-180deg);
			}
		}
	}
    .cover{
		height: 100%;
		transform-style: preserve-3d;
  	    transition: ease all $transition-time;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		&:before{
			content: '';
			position: absolute;
			border: 3px solid rgba(255,255,255,.5);
			box-shadow: 0 0 12px rgba(0,0,0,.3); 
			top:15px;
			left:15px;
			right:15px;
			bottom:15px;
			z-index: 2;
			transition: ease all $transition-time;
			transform-style: preserve-3d;
			transform: translateZ(0px);
		}
		&:after{
			content: '';
			position: absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			z-index: 2;
			transition: ease all 1.3s;
			background: rgba(0,0,0,.4);
		}

		.popularTest-title{
			transform-style: preserve-3d;
  		    transition: ease all $transition-time;
			z-index:3;
			transform: translateZ(0px);
		}
		.taom-logo{
			transform-style: preserve-3d;
  		    transition: ease all $transition-time;
			z-index:4;
			transform: translateZ(0px);
		}
	}
    .cardPopularTest-back{
		background: #0b0f08;
		transform-style: preserve-3d;
  	    transition: ease all $transition-time;
		transform: translateZ(-1px);
		p{
			transform-style: preserve-3d;
			transition: ease transform $transition-time, ease background .5s;
			transform: translateZ(-1px) rotatey(-180deg);
			background: transparent;
			outline: none;
		}
	}
}