<div class="flex flex-row justify-center items-center w-full h-96 border-t-4">
    <div class="flex flex-col w-1/4 justify-center items-center">
        <img class="w-60 max-w-64 max-h-20 mb-5" src="../../assets/main-page/logo-blue.svg" alt="Logo">
        <div>
            <p class="font-semibold mb-2 text-lg">ТАУ в интернете:</p>
            <div class="flex flex-row justify-between">
                <a href="https://vk.com/taom_ru" class=""><img class="w-10 h-10" src="../../assets/main-page/vk.svg" alt=""></a>
                <a href="https://taom.academy" class=""><img class="w-10 h-10" src="../../assets/main-page/website.svg" alt=""></a>
                <a href="https://dzen.ru/taom" class=""><img class="w-10 h-10" src="../../assets/main-page/dzen.svg" alt=""></a>
            </div>
            
        </div>
    </div>
    <div class="flex flex-col w-1/4">
        <h1 class="font-semibold mb-3 text-xl">КОНТАКТЫ</h1>
        <p class="font-semibold my-1 text-lg">+7 (8482) 55-50-44</p>
        <p class="font-semibold my-1 text-lg">abitur.taom@gmail.com</p>
        <p class="font-semibold my-1 text-lg">445144, Самарская область, Ставропольский район, территория оздоровительный комплекс Алые паруса, здание 5, Тольятти</p>
    </div>
</div>


<!-- w-full h-[350px] flex flex-row justify-between items-center -->
<!-- text-2xl font-semibold text-white mr-20 max-sm:mr-3 max-sm:text-xl -->