<div>
    {{ question.text }}

    <ng-container *ngIf="question.type === 'one'">
        <tq-question-one
            [question]="question"
            (reply)="onReply($event)"
            (next)="onNext()"
        />
    </ng-container>

    <ng-container *ngIf="question.type === 'many'">
        <tq-question-many
            [question]="question"
            (reply)="onReply($event)"
            (next)="onNext()"
        />
    </ng-container>

    <ng-container *ngIf="question.type === 'sorting'">
        <tq-question-sorting
            [question]="question"
            (reply)="onReply($event)"
            (next)="onNext()"
        />
    </ng-container>
</div>
