<div class="w-full">
    <h1 class="text-3xl font-bold mb-5 text-center max-md:text-xl">{{ question.text }}</h1>

    <ng-container *ngIf="question.type === 'one'">
        <tq-question-one
            class="w-full"
            [question]="question"
            (reply)="onReply($event)"
            (next)="onNext()"
        />
    </ng-container>

    <ng-container *ngIf="question.type === 'many'">
        <tq-question-many
            [question]="question"
            (reply)="onReply($event)"
            (next)="onNext()"
        />
    </ng-container>

    <ng-container *ngIf="question.type === 'sorting'">
        <tq-question-sorting
            [question]="question"
            (reply)="onReply($event)"
            (next)="onNext()"
        />
    </ng-container>

    <ng-container *ngIf="question.type === 'code'">
        <tq-question-code
            [question]="question"
            (reply)="onReply($event)"
            (next)="onNext()"
        />
    </ng-container>

    <ng-container *ngIf="question.type === 'free'">
        <tq-question-free
            [question]="question"
            (reply)="onReply($event)"
            (next)="onNext()"
        />
    </ng-container>
</div>
