<div class="flex flex-col w-full h-svh justify-center items-center">
    <ng-template
        *ngIf="!isStarted"
        [ngTemplateOutlet]="start"
    />

    <ng-template
        *ngIf="isStarted && !isComplete"
        [ngTemplateOutlet]="question"
    />

    <ng-template
        *ngIf="isComplete"
        [ngTemplateOutlet]="result"
    />
</div>

<ng-template #start>
    <div class="w-1/3 flex flex-col items-center text-center">
        <div class="flex flex-row items-center justify-between w-3/4 m-3">
            <p class="px-4 py-1 bg-red-400 border-2 rounded-full border-red-400 text-sm text-white"
                *ngFor="let tag of test.tags"
            >
                {{ tag }}
            </p>
        </div>

        <h1 class="text-5xl m-6">{{ test.title }} hi</h1>
        <h2 class="text-xl m-3">{{ test.description }}</h2>
        <button class="bg-red-400 px-8 py-2 m-3 text-xl text-white
            border-2 rounded-full border-red-400"
            (click)="onStart()"
        >Начать квест</button>
    </div>
</ng-template>

<ng-template #question>
    <div class="h-3/5 w-3/5 p-10
        flex flex-col justify-start items-center
        border-2 border-green-300 rounded-3xl"
    >
        <ng-container *ngFor="let question of test.questions; index as questionIndex">
            <tq-question
                class="w-full"
                *ngIf="questionIndex === currentQuestionIndex"
                [question]="question"
                (next)="onNext()"
            />
        </ng-container>
    </div>
</ng-template>

<ng-template #result>
    Тип результат
</ng-template>